<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog mr-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game ended</h5>
            </div>
            <div class="modal-body">
                @(Message)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Go back to lobby</button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    [Parameter]
    public Action? OnModalClosed { get; set; }

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    public string? Message;

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        InvokeAsync(StateHasChanged);
        OnModalClosed?.Invoke();
    }

    public void Open(string message)
    {
        this.Message = message;
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        InvokeAsync(StateHasChanged);
    }
}